@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --blue-color: #044CA4;
    --gray-color: #B8B8B8;
    --bg-white: #F3F4F6;
    --lightblue-color: #98B3DA;
    --lightgray-color: #EBEBEB;
    --red-color: #DF3A01;
}

*{
    margin: 0 0 0 8%;
    padding: 0;
    font-family: 'Hind', sans-serif;
    box-sizing: border-box;
}

body{
    background: var(--bg-white);
}

.content{
    padding: 2rem;
}

main.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusmessage{
    border: 1.5px solid #8FC641;
    background: #cee1b1;
    padding: 1.5%;
    margin: 1rem 1rem -3rem 10%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-circle-info{
    font-size: 1rem;
    margin-right: -1rem;

}

.formcontent{
    position: relative;
    background: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    width: 90%;
    margin-left: 8%;
}

.titletext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    color: var(--blue-color);
}

.titletext h3{
    display: inline-block;
    color: black;
}

.idnum{
    font-weight: normal;
    color: #858585;
    padding-left: 1rem;
}

.tablecontent{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

label{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: right;
}

.leftside{
    position: relative;
    border: 1.5pt solid var(--blue-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.addbtn{
    border: 2px solid var(--blue-color);
    color: black;
    padding: 0.5rem;
    border-radius: 2rem;
    transition: all .2s ease;
    background: white;
    margin-top: 0.4rem;
}

.addbtn:hover{
    background: var(--blue-color);
    color: white;
    transition: all .2s ease;
}

.rightside{
    width: 100%;
    margin-left: 1rem;
}

.calculation{
    background: var(--lightblue-color);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}

.calculation h3{
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    background: var(--lightgray-color);
    border-radius: 0.3rem;
    padding: 0.4rem;
    margin: 0.5rem 0 0.5rem 0;
}

select{
    text-align: right;
    padding: 0.2rem 0 0.2rem 0.2rem;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: var(--lightgray-color);
    margin-top: 0.5rem;
}

option{
    padding-right: 0.2rem;
}

h1{
    font-family: 'Open Sans', sans-serif;
}

button{
    cursor: pointer;
}

table{
    text-align: center;
    width: 100%;
    color: black;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-bottom: 1rem;
    border-spacing: 0 0.25rem
}

.fullsummary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6%;
}

.summarytable td:last-child{
    text-align: center;
}

.summarytable .fa-trash{
    color: var(--red-color);
    font-size: 1rem;
    cursor: pointer;
}

.tablesummary{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tablesummary p,
.finalprice p{
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-weight: bold;
}

.finalprice {
    color: var(--blue-color);
    margin-top: auto;
}

.tablesummary span,
.finalprice span{
    margin-left: auto;
    font-weight: normal;
}

.finalprice{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.rightcol2{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    justify-content: space-between;
}

.rightcol2 label{
    margin-right: 1rem;
}

.purchasebtn{
    color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 2rem;
    transition: all .2s ease;
    background: var(--blue-color);
    margin-top: 0.4rem;    
    transition: all .2s ease;
}

.purchasebtn:hover{
    background: #2b7ada;
    transition: all .2s ease;
}

tr{
    background: white;
}

th, td{
    padding: 0.2rem;
}

